.custom_button {
    text-align: center;
    margin-bottom: 10px;
    button {
        margin: auto;
        width: 10rem;
        // padding: 0px 2rem;
        border-radius: 1.875rem;
        height: 2.5rem;
        background-color: #a0deffd4;
        span {
            font-size: 1.25rem;
            color: #ffffff;
        }
        &:hover {
            transition: 1s;
            background-color: #1bafff;
        }
    }

    &.btn_outline {
        button {
            border: 1px solid #1bafff;
            background-color: #ffffff;
            span {
                color: #000000c7;

            }
            &:hover {
                background-color: #1bafff;
                transition: 1s;
                span {
                    transition: 1s;
                    color: #ffffff;
                } 
            }
        }
    }
}